@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Bricolage Grotesque', sans-serif;
  line-height: 1.5;

  color: #defaf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}

body {
  margin: 0;
  padding: 2rem;
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);
}
/* loader */

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* Conetnt */
header {
  text-align: center;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

header h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

header p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 38ch;
  color: #9eb5b4;
}

.places-category {
  max-width: 85rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid #0d373e;
  border-radius: 8px;
}

.places-category h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  color: #8feeff;
  text-align: center;
}

.fallback-text {
  text-align: center;
}

.places {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
}

.place-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #1f1c2c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  animation: slide-up-fade-in 0.3s ease-out forwards;
}

.place-item button {
  background: transparent;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.place-item:nth-child(odd) button:hover,
.place-item:nth-child(odd) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(5deg);
}

.place-item:nth-child(even) button:hover,
.place-item:nth-child(even) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(-5deg);
}

.place-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.place-item h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
  margin: 1rem auto;
  background-color: #feee86;
  border-radius: 4px;
  padding: 0.15rem 0.35rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

#delete-confirmation {
  padding: 1rem;
}

#delete-confirmation h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #5d0909;
}

#delete-confirmation p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 38ch;
  color: #804242;
}

#confirmation-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #5d0909;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #3e0505;
}

.button-text {
  background: transparent;
  border: none;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #5d0909;
}

.modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  min-width: 30rem;;
  padding: 0;
  z-index: 2;
  background: #d5c7bc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation: slide-down-fade-in 0.3s ease-out forwards;
}

.center {
  text-align: center;
}

.error {
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  /* background-color: #f4c7c7; */
  color: #f4c7c7;
}

.modal .error {
  margin: auto;
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-fade-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}